<div class="topbit">
	<h1 id="topsplash">I'm OK!</h1>
	
	<ul id="menu">
		<li><a href="/">Home</a></li>
        <li><a href="/signup.html">Signup</a></li>
        <li><a href="/account.html">Account</a></li>
	</ul>

	<ul class="secondary">
        <li><a href="/worker/">Worker (debug only)</a></li>
        <li><a href="/terms.html">Terms &amp; Conditions</a></li>
		<li><a href="/privacy.html">Privacy Policy</a></li>
        {% if logoutLink %}<li><a href="{{logoutLink}}">Logout</a></li>{% endif %}
    </ul>
</div>