<div class="topbit">
	<h1 id="topsplash">I'm OK!</h1>
	
	<ul id="menu">
		<li><a href="/">Home</a></li>
        <li><a href="/account.html">Account</a></li>
        <li><a href="/settings.html">Settings</a></li>
        <li><a href="/forums.html">Forums</a></li>
	</ul>

	<ul class="secondary">
	{% if isAdmin %}
        <li>DEBUG --&gt;</li>
        <li><a href="/worker/">Worker</a></li>
        <li><a href="/butonsimulator.html">ButonSimulator</a></li>
        <li><a href="/console/">Console</a></li>
        <li><a href="/_ah/admin/datastore">DataViewer</a>
        <li>&lt; -- DEBUG</li>
    {% endif %}
        <li><a href="/terms.html">Terms &amp; Conditions</a></li>
		<li><a href="/privacy.html">Privacy Policy</a></li>
        {% if logoutLink %}<li><a href="{{logoutLink}}">Logout</a></li>{% endif %}
    </ul>
</div>
