body {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 76%;
    color: #2E5C8A;
	background: #fff;
}

.container {
    overflow: hidden;
}
.container .content,
.container .contactlist,
.container .sources,
.container .settings, 
.container .settings .fields {
    padding-bottom: 2010px;
    margin-bottom: -2000px;
}

.hidden {
    display: none;
}
.fadeout {
    display: none;
    visibility: hidden;
}

span.required {
    color: #933;
    font-size: 0.9em;
}

a {
	text-decoration: none;
	color: #2D8659;
}

h1 {
    color: #2E5C8A;
	font-size: 1.7em;
	font-weight: normal;
}
div.topbit h1 {
	margin: 0;
	padding: 10px 5px;
	color: #69c;
	font-size: 2em;
}
h1 button {
    font-size: 2em;
    color: #063;
    cursor: pointer;
}
h2 {
    margin-top: 0.75em;
    font-size: 1.3em;
    font-weight: normal;
    color: #69c;
}
.content h2 {
    margin-top: 0.25em;
    font-size: 1.8em;
}
h2 a {
    text-decoration: underline;
}
.steps h2 {
    margin-bottom: 0;
    line-height: 1.4em;
    vertical-align: middle;
}
.steps h2 span,
.steps h3 span {
    color: #ace;
    font-size: 1.4em;
    font-weight: bold;
    vertical-align: middle;
}
.steps h3 span {
    color: #4482C1;
}
h3 {
    color: #34699D;
    font-weight: normal;
}
.steps h3 {
    margin-bottom: 0;
    margin-left: 25px;
    line-height: 1.4em;
    vertical-align: middle;
}

/**** menu styles ****/
div.topbit {
	background: #69c;
}
div.topbit h1 {
	background: #2E5C8A;
}
div.topbit ul {
	height: 25px;
	margin: 0;
	padding: 3px 5px 0 5px;
	list-style-type: none;
}
div.topbit ul li {
	margin: 0 3px 0 0;
	padding: 0 10px;
	float: left;
	background: #3D7AB8;
}
div.topbit a {
	height: 25px;
	font-weight: bold;
	color: #fff;
	line-height: 25px;
	text-decoration: none;
}
div.topbit ul li.active {
	background: #fff;
}
div.topbit ul li.active a {
	color: #3D7AB8;
}
div.topbit ul.secondary {
	margin: -25px 0 0 0;
	padding: 0 3px;
	float: right;
}
div.topbit ul.secondary li {
	margin: 0 0 0 3px;
    background: transparent;
}
div.topbit ul.secondary li a {
    font-size: 0.85em;
    font-weight: normal;
}

/* detail notes */
div.detail {
    position: absolute;
    width: 170px;
    height: 5.5em;
    padding: 0 4px;
    font-size: 0.9em;
}

/**** contactlist styles ****/
div.contactlist {
    float: right;
    width: 240px;
    padding: 0 10px;
    /* don't define margin-bottom here, it's up in the container section */
    color: #369;
    background: #ECF2F8;
}
div.contactlist th,
    div.contactlist td {
    border: none;
}
div.contactlist table tr.problem td.error {
    color: #fff;
    background: #c33;
}
div.contactlist div.detail {
    height: 4.4em;
    color: #2E5C8A;
    background: #ECF2F8;
    border: 1px solid #2E5C8A;
}
div.contactlist div.delete {
    padding-top: 0.4em;
    height: 2em;
    color: #933;
    background: #F8ECEC;
    border: 1px solid #933;
}

/**** sources styles ****/
div.sources {
    float: left;
    width: 150px;
    /* don't define margin-bottom here, it's up in the container section */
    padding: 0 10px;
    color: #9D6934;
    background: #F8F2EC;
}
div.sources h2 {
    color: #B0753B;
}
div.sources ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div.sources ul li {
    margin: 0 0 0.5em 0;
    padding: 0;
    border-bottom: 1px solid #D7B593;
}

div.sources .highlight,
div.sources table tr.highlight td {
    background: #E6CDB3;
}
div.sources table tr.problem td.error {
    color: #fff;
    background: #c33;
}

/**** settings styles ****/
form.settings {
    /* don't define margin-bottom here, it's up in the container section */
    padding: 0 5px 5px 0;
    color: #59862D;
    background: #F2F8EC;
}
/* fields styles */
div.fields {
    float: left;
    width: 190px;
    /* don't define margin-bottom here, it's up in the container section */
    padding-left: 3px;
    background: #E5F2D9;
}
div.fields h2 {
    margin-bottom: 0.5em;
    color: #693;
}
div.fields table {
    width: 190px;
}
div.fields table tr td {
    padding: 6px 4px;
    line-height: 1.2em;
}
div.fields .highlight,
div.fields table tr.highlight td {
    background: #CBE6B3;
}
div.fields .problem .error,
div.fields table tr.problem td.error {
    color: #fff;
    background: #c33;
}
div.fields div.detail {
    color: #59862D;
    background: #F2F8EC;
    border: 1px solid #59862D;
}
/* settings sample styles */
div.sample {
    margin-left: 200px;
    padding-top: 0;
}
div.sample h3 {
    margin-top: 0;
    color: #693;
}
div.sample .alert {
    color: #2E5C8A;
    background: #fff;
    border: 2px solid #E5F2D9;
}
div.sample p {
    margin: 0.5em;
}
div.sample ul {
    margin: 0.5em;
    padding-left: 0;
    list-style-type: none;
}
div.sample ul li {
    margin: 0;
    padding: 0 1em;
}
div.sample p.button {
    margin-top: 0;
    margin-right: 0;
    padding-top: 1.2em;
    height: 2.5em;
    text-align: right;
}
div.sample p.button input.submit {
    margin-top: 5px;
}

/**** content styles ****/
div.content {
    padding: 0 5px;
    margin: 0 258px 0 168px;
    background: #fff;
}
div.account {
    text-align: center;
}

.steps p {
    margin: 0 0 0.5em 25px;
}
.steps .steps p,
.steps .steps ul {
    margin-left: 45px;
}

.error {
	color: #c33;
}
ul.error {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.error li {
	margin-top: 2px;
}
.note {
	color: #666;
	font-size: 0.9em;
}

.block {
    clear: both;
    float: none;
}

/**** generic list styles ****/
li {
    padding-bottom: 0.5em;
}

/**** table styles ****/
table {
	margin: 0;
}
table.hasHTMLeditor {
    width: 100%;
}
table th, table td {
	padding: 1px 2px;
	vertical-align: middle;
}
table td.button {
    text-align: right;
}
table input, table select, table textarea {
	font-size: 1em;
}
table th {
    height: 1.8em;
	color: #3D7AB8;
	font-weight: normal;
	text-align: left;
    white-space: nowrap;
}
table th, table td {
    line-height: 1.8em;
}
table tr a {
    text-decoration: underline;
}
table .nowrap {
    white-space: nowrap;
}
table td.action {
    color: #2E5C8A;
	text-align: center;
    cursor: pointer;
    background: #C0D4E8;
	border-left: 1px solid #fff;
}
table td.active {
	background: #3D7AB8;
}
table td button {
	font-size: 1em;
}
td.delete {
    color: #c66;
    cursor: pointer;
    text-align: center;
}
div table td.active,
    div table td.active a,
	div table td.active button {
	color: #fff;
}
div table tr td.placeholder,
div table tr td.note,
div table tr td.error {
    padding: 2px;
    font-size: 0.9em;
    line-height: 1.2em;
    background: transparent;
    border: none;
}
table tr.new td {
	background: #F2F8EC;
}
table tr.new td.action {
	color: #206020;
    cursor: pointer;
	background: #D9EAC8;
}
table tr.new td.active {
    background: #99CC66;
}
table tr.new a, table tr.new button {
	color: #206020;
}
.highlight,
table tr.highlight th,
table tr.highlight td,
table th.highlight {
    background: #C0D4E8;
}

/* instructions */
tr.instruction h3,
tr.instruction ol {
    margin: 0 0 5px 0;
}
table tr.instruction th,
    table tr.instruction td {
    line-height: 1.2em;
    vertical-align: top;
}
    table tr.instruction td {
    color: #456;
    font-size: 0.9em;
}
table tr.instruction td img {
    margin-right: 0.5em;
    border: 0;
}

/* note */
div table tr td.note {
    color: #666;
	background: #ECF2F8;
}

/* problem */
td.problem,
.problem th, .problem td {
	color: #993333;
	background: #E6B3B3;
}
.problem td.action {
	background: #ECC7C6;
}
.problem td.active,
table td.activecancel {
	background: #CC6666;
}
.problem td a, .problem td button,
table td.cancel a {
	color: #993333;
}
table td.problem.highlight,
table tr.problem.highlight th,
table tr.problem.highlight td {
	background: #ECC7C6;
}
table tr.problem.highlight td.error {
	background: #F8ECEC;
}
table tr.problem td input {
    border: 2px solid #CC6666;
}
td.cancel,
table tr.new td.cancel {
	color: #993333;
    text-align: center;
    cursor: pointer;
    background: #ECC7C6;
}
table tr td.cancel a {
	color: #993333;
}
table tr.new td.activecancel {
    cursor: pointer;
    background: #D27979;
}
table tr td.activecancel a {
	color: #fff;
}
table tr.noborder th,
    table tr.noborder td {
    border-width: 0;
}

/* toggle */
table tr.toggle th,
table tr.toggle td,
table th.toggle {
    cursor: pointer;
}
table tr.toggle td {
    font-size: 0.9em;
}
table tr.toggle span {
	color: #3D7AB8;
}
table tr.toggle img {
    border: none;
}

/* advanced */
table tr.advanced th,
    table tr.advanced td {
    color: #333399;
    background: #ECECF8;
}
table tr.advanced th {
}
table tr.advanced td.action {
	background: #ECECF8;
}
table tr.advanced td.active {
	background: #C7C6EC;
}
table tr.advanced.highlight th,
table tr.advanced.highlight td {
	background: #C7C6EC;
}
table tr.advanced.highlight td.note {
	background: #ECECF8;
}

/* spacer */
table tr.spacer th {
	line-height: 1em;
}
table td.checkbox, table th.checkbox { text-align: center; }

/**** form styles ****/
form {
    margin: 0;
}
input, select { vertical-align: middle; }
input.url { width: 120px; }
input.title { width: 300px; }
input.name { width: 170px; }
input.email { width: 170px; }
input.phone { width: 120px; }
input.price { width: 50px; }
textarea.comment {
    width: 100%;
    font-size: 1em;
    font-family: verdana, arial, helvetica, sans-serif;
}

.instructions {
    color: #999;
    font-style: italic;
}

/**** list styles ****/
ul.links li a { color: #3E7DBB; }
ul.links li a:hover, ul.links li a:hover:visited { color: #BB7D3E; }
ul.links li a:visited { color: #592D86; }

ul.links {
	list-style-type: none;
}
ul.links li {
	margin-bottom: 1em;
}

div.footer {
    margin: 0;
    padding: 0;
    border-top: 8px solid #2E5C8A;
}
div.footer p {
    margin: 1px 0;
}
