<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>I'm OK!</title>
        {% include "fragments/head.html" %}
        
        <script type="text/javascript" src="/static/js/form.js"></script>
        <script type="text/javascript" src="/static/js/contactlist.js"></script>

        <script type="text.javascript">
            function validateForm(form) {
                if (!validateText(this.firstName)) {

                }
                return true;
            }
        </script>

	</head>
	<body>

		{% include "fragments/menu.html" %}

        <div class="container">
            <!-- {% include "fragments/sources.html" %} -->
            {% include "fragments/contacts.html" %}

            <div class="content account">

                <form action="/notify">
                    <h1><button>I'm OK!</button></h1>
                </form>

                <h2>Last checkin {{  account.timeSinceNotification }} ago</h2>

                <p class="error">This is an alpha service - all of your records will be deleted at random.</p>                
                
            </div>
        </div>

        {% include "fragments/footer.html" %}

	</body>
</html>