<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>I'm OK! Button Sumulator</title>

		{% include "fragments/head.html" %}

	</head>
	<body>
	{% if isAdmin %}
		{% include "fragments/menu.html" %}
		<div class="content">
		
		Tools:
		<ul>
	        <li><a href="/worker/">Worker</a></li>
	        <li><a href="/_ah/admin/datastore">DataViewer</a>
		</ul>
		
		

    		
		<form action="/admin/registerButton/" >
		
	    Add ID to User:
		<input type=text name="email" />

		<select name="vendorId"> 
            <option value="button" selected >button</option>
        </select>

		<input type=text name="deviceId" />
		
        <input type="submit" value="save" />

		</form>
		 
		<hr />
		<form action="/notification/">
        
		<select name="vendorId"> 
            <option value="website" >website</option>
            <option value="button" selected >button</option>
        </select>

		<select name="deviceId"> 
            <option value="a" selected>a</option>
            <option value="b" >b</option>
            <option value="c" >c</option>
            <option value="d" >d</option>
        </select>
        <input type="submit" value="Press Button"/>
		
		</form>

		</div>

		{% include "fragments/footer.html" %}
    {% else %}
        Admin login required. Please visit the <a href="/">Home Page</a>.
    {% endif %}

	</body>
</html>