<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>I'm OK!</title>

		{% include "fragments/head.html" %}

	</head>
	<body>	
        <div class="topbit">
            <h1 id="topsplash"><img src="../static/images/okay2day.png" alt="okay2day" /></h1>
        </div>

        <div class="content">
            <p>Okay2day is a monitoring service for people living alone.
               <br />We're not up and running yet - watch this space!</p>
        </div>

        <div class="footer"></div>

	</body>
</html>