<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>I'm OK!</title>

		{% include "fragments/head.html" %}

	</head>
	<body>	

		{% include "fragments/menu.html" %}

        <div class="content">
        <p>
            We keep watch over you, alerting your friends and family if you get into trouble.
		</p>
		<p>
            <a href="/account.html">Signup</a> using your google account.
        </p>
        </div>

		{% include "fragments/footer.html" %}

	</body>
</html>