<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>I'm OK!</title>
        {% include "fragments/head.html" %}

        <script type="text/javascript" src="/static/js/form.js"></script>
        <script type="text/javascript" src="/static/js/contactlist.js"></script>
        <script type="text/javascript" src="/static/js/samplealert.js"></script>

        <script type="text.javascript">
            function validateForm(form) {
                if (!validateText(this.firstName)) {

                }
                return true;
            }
        </script>

	</head>
	<body>

		{% include "fragments/menu.html" %}

        <div class="container">
            <!-- {% include "fragments/sources.html" %} -->
            {% include "fragments/contacts.html" %}

            <div class="content">

            <form name="settingsForm"
                  id="settingsForm"
                  onsubmit="return validateAll(this)"
                  action="/settings/save/">

                <div class="settings">
                <h2>My settings</h2>

                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr class="highlightable">
                           <td><label for="timeout">Time limit:</label>
                               <br /><select id="timeout" name="timeout"><!-- {{account.timeout}} -->
			                        <option value="720"  {% ifequal account.timeout 720 %}selected="true"{% endifequal %} >12 hours</option>
			                        <option value="1440" {% ifequal account.timeout 1440 %}selected="true"{% endifequal %}>24 hours</option>
			                        <option value="2160" {% ifequal account.timeout 2160 %}selected="true"{% endifequal %}>36 hours</option>
			                        <option value="2880" {% ifequal account.timeout 2880 %}selected="true"{% endifequal %}>48 hours</option>
			                        <option value="-1" {% ifequal account.timeout -1 %}selected="true"{% endifequal %}>do not monitor me</option>
                               </select></td>
                        </tr>

                        <tr>
                           <td name="nameComment" class="hidden error"><label for="name">Please enter your name</label></td>
                       </tr>
                        <tr class="highlightable">
                           <td><label for="name">Name:</label>
                               <br /><input id="name" name="name" class="name validate" value="{{ account.name }}" /></td>
                        </tr>

                        <tr>
                           <td name="emailComment" class="hidden error"><label for="email">Please enter a valid email address</label></td>
                       </tr>
                        <tr class="highlightable">
                           <td><label for="email">Email:</label>
                               <br /><input id="email" name="email" class="email validate" value="{{ account.email }}" /></td>
                        </tr>

                        <tr class="highlightable">
                           <td><label for="phone">Home phone:</label>
                               <br /><input id="phone" name="phone" class="phone" value="{{ account.phone }}" /></td>
                        </tr>

                        <tr class="highlightable">
                           <td><label for="mobile">Mobile:</label>
                               <br /><input id="mobile" name="mobile" class="phone" value="{{ account.mobile }}" /></td>
                        </tr>
                   </table>

                <!-- detail notes for form fields -->
                <div id="timeoutDetail" class="detail hidden">If you haven't clicked the "I'm OK!" button
                    within this time limit we will alert everyone on your contact list.</div>
                <div id="nameDetail" class="detail hidden">We will refer to you by this name in
                    any emails we send to your contacts.</div>
                <div id="emailDetail" class="detail hidden">We will send information and notification
                    emails to you at this address.</div>
                <div id="phoneDetail" class="detail hidden">If we need to send an alert to your contacts, we will
                    include your phone number so they can make sure you're OK.</div>
                <div id="mobileDetail" class="detail hidden">If we need to send an alert to your contacts, we will
                    include your mobile number so they can make sure you're OK.</div>
            </div>

            <div class="sample">
                <h3>Sample Alert Email</h3>

                <div id="monitored">
                    <p>If you haven't clicked the "I'm OK!" button within
                       <span name="timeoutSample"></span>
                       we will alert everyone on your contact list with the following email:</p>
                    <div id="alertText" class="alert">
                        <p><strong>Subject: Is <span name="nameSample"></span> OK?</strong></p>
                        <p>We haven't heard from
                            <span name="nameSample"></span> for
                            <span name="timeoutSample"></span>. If you haven't heard from them
                           either, please give them a call or drop in for a quick visit to make sure
                           they're OK.</p>

                        <div id="phoneNumbers">
                            <p>You can call <span name="nameSample"></span> on:</p>
                            <ul>
                               <li id="phoneSample"> home phone - <span name="phoneSample"></span></li>
                               <li id="mobileSample"> mobile - <span name="mobileSample"></span></li>
                            </ul>
                        </div>

                        <p>If you have news about <span name="nameSample"></span>,
                           <a name="linkSample" href="">click here to let us know</a>.</p>

                        <p id="commentIntro" class="hidden"><span name="nameSample"></span>'s additional instructions:</p>

                        <p><textarea id="comment" name="comment" class="comment" rows="10" cols="10">{{account.comment}}</textarea></p>
                    </div>
                </div>
                <div id="unmonitored" class="hidden"><strong>You have selected "do not monitor me", so
                    you will not be monitored and no emails will be sent.</strong></div>
            </div>

            <div class="block button"><button>save settings</button></div>
        </form>
        </div>

        {% include "fragments/footer.html" %}

	</body>
</html>