<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>I'm OK! Signup</title>

		{% include "fragments/head.html" %}

        <script type="text/javascript" src="/static/js/form.js"></script>
        <script type="text/javascript" src="/static/js/contactlist.js"></script>

        <script type="text.javascript">
            function validateForm(form) {
                if (!validateText(this.firstName)) {
                    
                }
                return true;
            }
        </script>

    </head>
	<body>	

		{% include "fragments/menu.html" %}
		
		<div class="content">
			<h1>Signup</h1>
			
			<form onsubmit="return validateAll()" enctype="multipart/form-data" id="signupForm" name="new_product" action="/signup/save/" method="POST">
                <input type="hidden" name="contactlist" />

               <table cellpadding="0" cellspacing="0" border="0">
                   <tr>
                       <th colspan="2">Your Personal Details</th>
                   </tr>
                   <tr>
                       <td>First name:</td>
                       <td><input name="firstName" /></td>
                   </tr>
                   <tr>
                       <td>Last name:</td>
                       <td><input name="lastName" /></td>
                   </tr>
                   <tr>
                       <td>Email:</td>
                       <td><input name="email" class="email" /></td>
                   </tr>
                   <tr>
                       <td>Choose a password:</td>
                       <td><input type="password" name="password" /></td>
                   </tr>
                   <tr>
                       <td>Retype password:</td>
                       <td><input type="password" name="passwordconf" /></td>
                   </tr>

                   <tr>
                       <th colspan="2">Your Contact Details</th>
                   </tr>
                   <tr>
                       <td>Home phone:</td>
                       <td><input name="homephone" class="phone" /></td>
                   </tr>
                   <tr>
                       <td>Work phone:</td>
                       <td><input name="workphone" class="phone" /></td>
                   </tr>
                   <tr>
                       <td>Mobile:</td>
                       <td><input name="mobile" class="phone" /></td>
                   </tr>

                   <tr>
                       <th colspan="2">People to contact:</th>
                   </tr>
                   <tr>
                       <td colspan="2">
                           <div id="contacts"><em>Your contact list is empty</em></div>
                           <div class="error" id="contactErrorMsg"></div>
                       </td>
                   </tr>
                   <tr>
                       <td>Email:</td>
                       <td>
                           <input id="contactemail" name="contactemail" class="email" onkeypress="addContactOnReturn(event)" />
                           <input type="button" name="addcontact" onclick="addContact()" value="add" />
                       </td>
                   </tr>
               </table>

                <p class="buttons"><button>Continue ></button></p>

            </form>
		</div>

		{% include "fragments/footer.html" %}
	</body>
</html>