<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>I'm OK! Terms &amp; Conditions</title>

		{% include "fragments/head.html" %}

	</head>
	<body>

		{% include "fragments/menu.html" %}

		<div class="content">
			<h1>Terms &amp; Conditions</h1>

            <p>By signing up with us, you agree to the following terms and conditions:</p>

            <ul>
                <li>You acknowledge that I'm OK! is not an emergency service...</li>

                <li>From time to time there may be unanticipated breaks in service...</li>

                <li>You must ensure that I'm OK! has your current email address at all times.
                    Email will be used to:
                    <ul>
                        <li>Warn you 2 hours before your check-in deadline.</li>
                        <li>Alert you and those on your contact list if you fail to check-in.</li>
                        <li>Alert you if someone you are a contact for fails to check-in.</li>
                        <li>Notify you of updates to an existing alert.</li>
                        <li>Notify you if a contact chooses to opt-out of I'm OK!</li>
                        <li>Notify you of updates and changes to our service.</li>
                    </ul></li>
            </ul>
		</div>

		{% include "fragments/footer.html" %}
	</body>
</html>